  body {
    font-family: 'Lexend Exa', sans-serif;
    background: -moz-linear-gradient(left, rgb(88, 40, 177) 0%, rgb(66, 125, 153) 100%, rgb(20, 74, 223) 100%);
    background: -webkit-linear-gradient(left,  rgb(88, 40, 177) 0%, rgb(66, 125, 153) 100%, rgb(20, 74, 223) 100%);
    background: linear-gradient(to right,  rgb(88, 40, 177) 0%, rgb(66, 125, 153) 100%, rgb(20, 74, 223) 100%);
  }

  .container {
    max-width: 600px;
    /* border: 2px solid rgb(95, 131, 231); */
    border-radius: 5px;
    padding: 10px;

  }

  .my-2 {
    color: aliceblue;
    font-size: 20px;
  }

  .btn {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    background: rgb(95, 131, 231);
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }

  .btn:focus {
    outline: none !important;
  }

  .username {
    font-weight: bold;
  }

  .time {
    font-size: 0.7em;
    color: #999;
    /* float: right; */
    padding-top: 2px;
    border-bottom: 0;
  }

  .update-message {
    text-align: center;
    margin: 20px auto;
  }

  h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
  }

  .message {
    color: blue;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .list-group-item {
      margin: 3px 0;
      border-radius: 5px;
  }

  input[type="submit"] {
    font-family: FontAwesome;
}